.linksfooter {
	background: $primaryColor;
	text-align: center;
	font-family: 'Raleway';
	color: black;
	font-weight: 500;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 40px;
}