.linksfooter {
	background: $secondaryColor;
	margin-top: 70px;
	text-align: center;
	font-family: 'Raleway';
	color: black;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 40px;
}