
/*********************************************/
.skills-container	{
	display: flex;
	flex-wrap: 	wrap	;
	justify-content: space-evenly;
	background: 	$thirdColor;
	padding: 40px;
	margin-bottom: 30px;

	
}
h2 {
	font-family: 	'Raleway';
	text-align: 	center;
	width: 100%;
	font-size: 40px;
	font-weight: 600;
	color: $headingColor;
	margin: 30px auto;
}

.javascript-content {
	
	
	border-radius: 	10px;
	border: 2px solid $primaryColor;
	width: 350px;
	cursor: pointer;
	display: 	flex;
	justify-content: 	center;
	margin-top: 	20px;
}

.javascript-content:hover {
	background: 	$primaryColor	;
	transition: 	3s all ease;
}
.java-img {
	height: 100px;
	width: 	100px;
	padding: 	10px;
	
}


h4,h5	{
	color: $headingColor;

	text-align: 	center;
	font-size: 40px;
	font-weight: 600;
	width: 100%;
	margin: 30px auto;
	
}




/***********************************/
.works-container {

	display: flex;
	justify-content: center;

	background: 	$thirdColor;
	padding: 	20px;

	flex-wrap: wrap;
	


}

.workone-container .workuno	 {
	width: 100%;
	height: 	300px;
	
		border-radius: 	10px;
	opacity: 0.8;

}
.workuno:hover {
	opacity: 	1;
	transition: 	2s all ease;



}

.workone-container p {
	font-family: 	'Raleway';
	font-weight: 	500;
	color : black;
	text-align: center;	
	font-style: italic	;


}









/************************************/
.contact-container {
	background: $thirdColor;
	justify-content: center;
	flex-wrap: 	wrap	;
	padding: 20px;

}
.formcont {
	display: flex;
	justify-content: center;
}

.form {
	width: 50%;
	background: none;
	border-radius: 10px;
	padding: 20px;
	
	
	
}

.form input[type="text"],
textarea {
	width: 100%;
	outline: 	none;
	border: none;
	border-bottom:  2px solid $primaryColor	;
	padding: 20px;
	color: 	white;
	background: rgba(0, 0 , 0,  0.4);
	margin-top: 	20px;
	border-radius: 10px;
	font-family: 	'Raleway';

}

input::placeholder {
	color: $primaryColor;
}

textarea::placeholder {
	color: $primaryColor;
}

.form input[type="text"]:focus {
	background: 	$primaryColor;
	transition: 	1s all ease;
}

textarea {

	max-height: 	200px;
	min-height: 150px;
	max-width: 100%;
	min-width: 	100%;
}

textarea:focus {
	background: 	$primaryColor;
	transition: 	1s all ease;
}


.btn-submit {
text-align: 	center;
display:block;
margin: auto;
font-size: 20px;
padding: 	20px;
font-family: 	'Raleway';
font-weight: 200;
border-radius: 10px;
background: 	$primaryColor;
margin-top: 	20px;
cursor: pointer;
border: none;
color: white;
}

.btn-submit:hover {
	background: 	black;
	transition: 	2s all ease;
}




/*************************************/

